<p id="notice"><%= notice %></p>

<div class ="jumbotron">
<h2>ESRT Lunch Time</h2>
<h3>Read reviews about local dining spots from your fellow co-workers and<br>
Don't forget to leave reviews and ratings for your fellow foodies.
</h3>
</div>

<div id="slideshow" class="sliders" style:"clear:both;">
  <div class="active-slide slide">
    <%= image_tag "https://s3.amazonaws.com/esrplunchtime/sliders/RyansRestaurant.jpg" %>
  </div>
  <div class="slide">
    <%= image_tag "https://s3.amazonaws.com/esrplunchtime/sliders/bar.jpg" %>
  </div>
  <div class="slide">
    <%= image_tag "https://s3.amazonaws.com/esrplunchtime/sliders/bar2.jpg" %>
  </div>
  <div class="slide">
    <%= image_tag "https://s3.amazonaws.com/esrplunchtime/sliders/chicken.jpg" %>
  </div>
  <div class="slide">
    <%= image_tag "https://s3.amazonaws.com/esrplunchtime/sliders/restaurant.jpg" %>
  </div>
</div>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
        <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone %></td>
        <td><%= restaurant.website %></td>
        <td><%= link_to 'Show', restaurant, class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= image_tag "https://s3.amazonaws.com/esrplunchtime/emp597.jpg", :class => "footer_image" %>

<script type="text/javascript">
  $(document).ready(function () {
    $("#slideshow").sliders({
        interval: 5000
      });
  });
</script>
