<p id="notice"><%= notice %></p>

<div class ="jumbotron">
<h2>ESRT Lunch Time</h2>
<h3>Read reviews about local dining spots from your fellow co-workers and<br>
Don't forget to leave reviews and ratings for your fellow foodies.
</h3>
</div>

<div id="slideshow" class="sliders" style:"clear:both;">
  <div class="active-slide slide">
    <%= image_tag "https://s3.amazonaws.com/esrplunchtime/sliders/RyansRestaurant.jpg" %>
  </div>
  <div class="slide">
    <%= image_tag "https://s3.amazonaws.com/esrplunchtime/sliders/bar.jpg" %>
  </div>
  <div class="slide">
    <%= image_tag "https://s3.amazonaws.com/esrplunchtime/sliders/bar2.jpg" %>
  </div>
  <div class="slide">
    <%= image_tag "https://s3.amazonaws.com/esrplunchtime/sliders/chicken.jpg" %>
  </div>
  <div class="slide">
    <%= image_tag "https://s3.amazonaws.com/esrplunchtime/sliders/restaurant.jpg" %>
  </div>
</div>


<div class="container">
    <% @restaurants.each do |restaurant| %>
  <div class="row">
    <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
      <ul class="event-list">
        <li>
          <img alt="Captains Cafe" src="https://s3.amazonaws.com/esrplunchtime/frontpage/captains.jpg" />
          <div class="info">
        <h2 class="title"><%= restaurant.name %></h2>
        <p class="desc"><%= restaurant.address %></p>
        <p class="desc"><%= restaurant.phone %></p>
        <p class="desc"><%= restaurant.website %></p>
      </div>
      <div class="social">
        <ul>
          <li><p class="desc"><%= link_to 'View', restaurant, class: "btn btn-link" %></p></li>
          <li><p class="desc"><%= link_to 'Map', restaurant, class: "btn btn-link" %></p></li>
          <li><p class="desc"><%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-link" %></p></li>
          <li></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
</div>
    <% end %>
</div>
<br>


<%= image_tag "https://s3.amazonaws.com/esrplunchtime/emp597.jpg", :class => "footer_image" %>

<script type="text/javascript">
  $(document).ready(function () {
    $("#slideshow").sliders({
        interval: 5000
      });
  });
</script>
